// fonts
$font: 'Roboto',
sans-serif;


// $fontB: 'Segoe UI Bold',
// sans-serif;

// site main colors
$dark-blue: #03062F;
$grey: #EDF1F2;
$txt-grey: #333333;
$trans: transparent;
$white: #fff;
$black: #000;
$blue: #217fff;
$red: #DB5B54;
$green: #80d183;
$orange: #DE742D;
$violet: #A07EDC;
$text-light-gray:#888888;


// paths
$img: "../images" !default;


//butns