 /*==========================
import Styles
==========================*/
 @import "variables";
 @import "flickity";
 @import "fonts";
 @import "../../node_modules/bootstrap/scss/bootstrap";

 /*==========================
Common Styles
==========================*/
 img {
     width: auto;
     height: auto;
     max-width: 100%;
     transition: all 400ms linear;
 }

 a,
 a:hover {
     text-decoration: none;
 }

 svg,
 a {
     transition: all 400ms linear;
 }

 body {
     font-family: $font;
     font-size: 16px;
     line-height: 24px;
 }

 h1 {
     font-size: 40px;
     font-family: 'Roboto',
         sans-serif;
     line-height: 53px;
 }


 .btn {
     padding: 10px 20px;
     font-size: 15px;
     transition: all 400ms linear;
 }

 .btn-info {
     background: $dark-blue;
     border: 1px solid $blue;
     border-radius: 2px;
     color: $white;

     &:hover {
         background-color: $blue;
         color: $white;
     }
 }

 .btn-primary {
     background: $white;
     border-radius: 2px;
     border-color: $trans;
     color: #528FF0;

     &:hover {
         background-color: $dark-blue;
         color: $white;
         border-color: $white;

         svg {
             transform: translateX(5px);

             path {
                 fill: $white;
             }
         }
     }
 }

 .btn-secondary {
     background: rgb(133, 208, 127);
     background: linear-gradient(90deg, rgba(133, 208, 127, 1) 37%, rgba(56, 220, 189, 1) 100%);
     color: $white;
     padding: 8px 30px;
     border-radius: 30px;
     border: none;

     &:hover {
         background: rgb(133, 208, 127);
     }
 }

 .header-wrap {
     background: $white;

     .text-lg-end.top-img img {
         width: 15%;
         padding: 10px 0;

         @media (max-width: 992px) {
             width: 100%;
         }
     }

     .top-img {
         padding: 0;


     }

     .top_bar {
         width: 100%;
         background: $blue;
         z-index: 2;
         color: $white;
     }

     .header.scrolled {
         .top_bar {
             display: none;
         }

         .header_main {
             display: none;
         }

         .main_nav {
             position: fixed;
             top: 0;
             left: 0;
             -webkit-transition: all 200ms ease;
             -moz-transition: all 200ms ease;
             -ms-transition: all 200ms ease;
             -o-transition: all 200ms ease;
             transition: all 200ms ease;
         }
     }

     .top_bar_contact {
         display: inline-block;
     }

     .top_bar_contact_item {
         font-size: 16px;
         font-weight: 300;
         line-height: 56px;
         margin-right: 40px;

         &:not(:first-child) {
             margin-right: 0px;
         }

         a {
             font-size: 16px;
             font-weight: 300;
             line-height: 56px;
             color: #000;
             -webkit-transition: all 200ms ease;
             -moz-transition: all 200ms ease;
             -ms-transition: all 200ms ease;
             -o-transition: all 200ms ease;
             transition: all 200ms ease;

             &:hover {
                 color: #8a8a8a;
             }
         }

         &:last-child {
             margin-right: 0px;
         }
     }

     .top_bar_icon {
         display: inline-block;
         margin-right: 14px;
         -webkit-transform: translateY(-2px);
         -moz-transform: translateY(-2px);
         -ms-transform: translateY(-2px);
         -o-transform: translateY(-2px);
         transform: translateY(-2px);
     }

     .top_bar_menu {
         display: inline-block;
     }

     .top_bar_dropdown {
         li {
             padding-left: 13px;
             padding-right: 13px;
         }
     }

     .standard_dropdown {
         li {
             display: inline-block;
             position: relative;
             height: 56px;

             li {
                 display: block;
                 width: 100%;

                 a {
                     display: block;
                     width: 100%;
                     border-bottom: solid 1px #f2f2f2;
                     font-size: 16px;
                 }
             }

             &:last-child {
                 a {
                     border-bottom: none;
                 }
             }

             a {
                 display: block;
                 position: relative;
                 font-size: 16px;
                 font-weight: 300;
                 color: #000000;
                 line-height: 56px;
                 white-space: nowrap;
                 -webkit-transition: all 200ms ease;
                 -moz-transition: all 200ms ease;
                 -ms-transition: all 200ms ease;
                 -o-transition: all 200ms ease;
                 transition: all 200ms ease;

                 &:hover {
                     color: #0e8ce4;
                 }

                 i {
                     display: none;
                     -webkit-transform: translateY(-1px);
                     -moz-transform: translateY(-1px);
                     -ms-transform: translateY(-1px);
                     -o-transform: translateY(-1px);
                     transform: translateY(-1px);
                     font-size: 12px;
                 }
             }

             ul {
                 display: block;
                 position: absolute;
                 top: 120%;
                 left: 0;
                 width: 200px;
                 visibility: hidden;
                 opacity: 0;
                 background: #FFFFFF;
                 box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
                 -webkit-transition: opacity 0.3s ease;
                 -moz-transition: opacity 0.3s ease;
                 -ms-transition: opacity 0.3s ease;
                 -o-transition: opacity 0.3s ease;
                 transition: all 0.3s ease;
                 z-index: 1;
             }

             &:hover {
                 >ul {
                     top: 100%;
                     visibility: visible;
                     opacity: 1;
                     padding: 0;


                     a {
                         color: $dark-blue;
                     }
                 }
             }
         }

         li.hassubs {
             >a {
                 i {
                     display: inline-block;
                     margin-left: 5px;
                 }
             }
         }

         ul {
             ul {
                 left: 100%;
                 top: 0 !important;
             }
         }
     }

     .top_bar_user {
         display: inline-block;
         margin-left: 35px;



         div {
             display: inline-block;

             &:nth-child(2) {
                 margin-right: 21px;

                 &::after {
                     display: block;
                     position: absolute;
                     top: 50%;
                     -webkit-transform: translateY(-50%);
                     -moz-transform: translateY(-50%);
                     -ms-transform: translateY(-50%);
                     -o-transform: translateY(-50%);
                     transform: translateY(-50%);
                     right: -13px;
                     width: 1px;
                     height: 17px;
                     background: rgba(0, 0, 0, 0.1);
                     content: '';
                 }
             }
         }

         a.reg {
             background: #fff;
             padding: 8px 20px;
             color: #000 !important;
             border-radius: 6px;
             margin-right: 20px;
         }

         a {
             font-size: 16px;
             font-weight: 300;
             line-height: 56px;
             color: $white;
             -webkit-transition: all 200ms ease;
             -moz-transition: all 200ms ease;
             -ms-transition: all 200ms ease;
             -o-transition: all 200ms ease;
             transition: all 200ms ease;

             &:hover {
                 color: $dark-blue;
             }
         }
     }

     .user_icon {
         display: inline-block;
         margin-right: 7px;
         -webkit-transform: translateY(-2px);
         -moz-transform: translateY(-2px);
         -ms-transform: translateY(-2px);
         -o-transform: translateY(-2px);
         transform: translateY(-2px);
         width: 15px;

         img {
             width: 100%;
         }
     }

     .header_main {
         z-index: 1;
     }

     .header_main_item {
         top: 50%;
         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
         transform: translateY(-50%);
     }

     .logo_container {
         height: 80px;

         @media (max-width: 992px) {
             text-align: center;
         }
     }

     .logo-img img {
         width: 90px;
         padding-top: 10px;
     }



     .custom_dropdown {
         width: calc((100% - 50px) * 0.399);
         height: 50px;
         float: left;
         padding-left: 26px;

         &::before {
             display: block;
             position: absolute;
             top: 50%;
             -webkit-transform: translateY(-50%);
             -moz-transform: translateY(-50%);
             -ms-transform: translateY(-50%);
             -o-transform: translateY(-50%);
             transform: translateY(-50%);
             left: 0;
             width: 1px;
             height: 28px;
             background: #e5e5e5;
             content: '';
         }
     }

     .custom_dropdown_list {
         i {
             display: inline-block;
             color: #a3a3a3;
             font-size: 10px;
             margin-left: 3px;
             -webkit-transform: translateY(-1px);
             -moz-transform: translateY(-1px);
             -ms-transform: translateY(-1px);
             -o-transform: translateY(-1px);
             transform: translateY(-1px);
         }
     }

     .custom_dropdown_placeholder {
         display: inline-block;
         font-size: 16px;
         font-weight: 300;
         color: #a3a3a3;
         line-height: 48px;
         cursor: pointer;
     }

     .custom_list {
         text-align: left;
         position: absolute;
         padding: 0;
         top: 75px;
         left: -15px;
         visibility: hidden;
         opacity: 0;
         box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
         -webkit-transition: opacity 0.2s ease;
         -moz-transition: opacity 0.2s ease;
         -ms-transition: opacity 0.2s ease;
         -o-transition: opacity 0.2s ease;
         transition: all 0.2s ease;

         li {
             height: 35px;
             padding-left: 15px;
             padding-right: 15px;
             background: #FFFFFF;

             a {
                 display: block;
                 color: #a3a3a3;
                 line-height: 35px;
                 border-bottom: solid 1px #ededed;
                 -webkit-transition: all 200ms ease;
                 -moz-transition: all 200ms ease;
                 -ms-transition: all 200ms ease;
                 -o-transition: all 200ms ease;
                 transition: all 200ms ease;

                 &:hover {
                     color: #0e8ce4;
                 }
             }
         }
     }

     .custom_list.active {
         visibility: visible;
         opacity: 1;
         top: 50px;
         box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
         -webkit-transition: opacity 0.3s ease;
         -moz-transition: opacity 0.3s ease;
         -ms-transition: opacity 0.3s ease;
         -o-transition: opacity 0.3s ease;
         transition: all 0.3s ease;
     }

     select {
         display: inline;
         border: 0;
         width: auto;
         margin-left: 10px;
         outline: none;
         -webkit-appearance: none;
         -moz-appearance: none;
         border-bottom: 2px solid #555;
         color: #7b00ff;
         -webkit-transition: all .4s ease-in-out;
         transition: all .4s ease-in-out;

         &:hover {
             cursor: pointer;
         }

         option {
             border: 0;
             border-bottom: 1px solid #555;
             padding: 10px;
             -webkit-appearance: none;
             -moz-appearance: none;
         }
     }

     .header_search_button {
         position: absolute;
         top: 0;
         right: 0;
         width: 50px;
         height: 100%;
         background: #0e8ce4;
         border: none;
         outline: none;
         cursor: pointer;
         border-top-right-radius: 5px;
         border-bottom-right-radius: 5px;
     }

     .wishlist_cart {
         height: 90px;
     }

     .wishlist {
         margin-right: 50px;
     }

     .wishlist_icon {
         img {
             width: 100%;
         }
     }

     .wishlist_content {
         margin-left: 14px;
     }

     .wishlist_text {
         a {
             font-size: 18px;
             font-weight: 400;
             color: #000000;
             -webkit-transition: all 200ms ease;
             -moz-transition: all 200ms ease;
             -ms-transition: all 200ms ease;
             -o-transition: all 200ms ease;
             transition: all 200ms ease;

             &:hover {
                 color: #0e8ce4;
             }
         }
     }

     .wishlist_count {
         margin-top: -2px;
         color: #a3a3a3;
         font-size: 14px;
     }

     .cart_count {
         position: absolute;
         bottom: -1px;
         right: -14px;
         width: 23px;
         height: 23px;
         background: #0e8ce4;
         border-radius: 50%;
         text-align: center;

         span {
             display: block;
             line-height: 23px;
             font-size: 12px;
             color: #FFFFFF;
             -webkit-transform: translateY(1px);
             -moz-transform: translateY(1px);
             -ms-transform: translateY(1px);
             -o-transform: translateY(1px);
             transform: translateY(1px);
         }
     }

     .cart_icon {
         img {
             width: 100%;
         }
     }

     .cart_content {
         margin-left: 28px;
     }

     .cart_text {
         a {
             font-size: 18px;
             font-weight: 400;
             color: #000000;
             -webkit-transition: all 200ms ease;
             -moz-transition: all 200ms ease;
             -ms-transition: all 200ms ease;
             -o-transition: all 200ms ease;
             transition: all 200ms ease;

             &:hover {
                 color: #0e8ce4;
             }
         }
     }

     .cart_price {
         font-size: 14px;
         color: #a3a3a3;
         margin-top: -2px;
     }

     .main_nav {
         width: 100%;
         background: $blue;
     }

     .main_nav_content {
         width: 100%;
         height: 60px;
     }

     .cat_menu_container {
         width: 293px;
         height: 100%;
         background: #0e8ce4;
         padding-left: 35px;
         cursor: pointer;
         z-index: 1;

         ul {
             display: block;
             position: absolute;
             top: 100%;
             left: 0;
             min-width: 100%;
             background: #FFFFFF;
             box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
             -webkit-transition: opacity 0.3s ease;
             -moz-transition: opacity 0.3s ease;
             -ms-transition: opacity 0.3s ease;
             -o-transition: opacity 0.3s ease;
             transition: all 0.3s ease;
         }

         >ul {
             padding-top: 13px;
         }

         &:hover {
             .cat_menu {
                 visibility: visible;
                 opacity: 1;
             }
         }
     }

     .cat_menu_title {
         height: 100%;
     }

     .cat_burger {
         width: 18px;
         height: 14px;

         span {
             display: block;
             position: absolute;
             left: 0;
             width: 100%;
             height: 2px;
             background: #FFFFFF;

             &:nth-child(2) {
                 top: 6px;
             }

             &:nth-child(3) {
                 top: 12px;
             }
         }
     }

     .cat_menu_text {
         font-size: 18px;
         font-weight: 400;
         color: #FFFFFF;
         text-transform: uppercase;
         margin-left: 20px;
     }

     .cat_menu {
         li {
             display: block;
             position: relative;
             width: auto;
             height: 46px;
             border-bottom: solid 1px #f2f2f2;
             padding-left: 35px;
             padding-right: 30px;
             white-space: nowrap;

             a {
                 display: block;
                 position: relative;
                 font-size: 16px;
                 font-weight: 300;
                 color: #000000;
                 line-height: 46px;
                 -webkit-transition: all 200ms ease;
                 -moz-transition: all 200ms ease;
                 -ms-transition: all 200ms ease;
                 -o-transition: all 200ms ease;
                 transition: all 200ms ease;

                 &:hover {
                     color: #0e8ce4;
                 }

                 i {
                     display: none;
                     position: absolute;
                     top: 50%;
                     -webkit-transform: translateY(-50%);
                     -moz-transform: translateY(-50%);
                     -ms-transform: translateY(-50%);
                     -o-transform: translateY(-50%);
                     transform: translateY(-50%);
                     right: 0;
                     font-size: 12px;
                 }
             }

             ul {
                 display: block;
                 position: absolute;
                 top: 35px;
                 left: 100%;
                 visibility: hidden;
                 opacity: 0;
                 width: 100%;
                 background: #FFFFFF;
                 box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
             }

             &:hover {
                 >ul {
                     top: 0;
                     visibility: visible;
                     opacity: 1;
                 }
             }
         }

         li.hassubs {
             >a {
                 i {
                     display: block;
                 }
             }
         }
     }

     .main_nav_dropdown {
         li {
             margin-right: 35px;

             &:last-child {
                 margin-right: 0px;
             }

             a {
                 font-size: 18px;
                 font-weight: 400;
                 color: #fff;
                 line-height: 60px;

                 &:hover {
                     color: $dark-blue;
                 }
             }

             li {
                 padding-left: 15px;
                 padding-right: 15px;
                 margin-right: 0px;
             }
         }
     }

     .menu_trigger_container {
         display: none;
         width: auto;
         height: 100%;
         padding-right: 25px;
         padding-left: 25px;
         cursor: pointer;
     }

     .menu_trigger {
         height: 100%;
     }

     .menu_burger_inner {
         display: inline-block;
     }

     .menu_trigger_text {
         display: inline-block;
         font-size: 18px;
         font-weight: 400;
         color: #FFFFFF;
         text-transform: uppercase;
         margin-right: 16px;
     }

     .page_menu {
         -webkit-transition: all 500ms ease;
         -moz-transition: all 500ms ease;
         -ms-transition: all 500ms ease;
         -o-transition: all 500ms ease;
         transition: all 500ms ease;
     }

     .page_menu_content {
         height: 0px;
         background: #0e8ce4;
         padding-left: 15px;
         padding-right: 15px;
         overflow: hidden;
     }

     .page_menu_search {
         display: none;
         width: 100%;
         margin-top: 30px;
         margin-bottom: 30px;
     }

     .page_menu_search_input {
         width: 100%;
         height: 40px;
         background: #FFFFFF;
         border: none;
         outline: none;
         padding-left: 25px;
     }

     .page_menu_item {
         display: block;
         position: relative;
         border-bottom: solid 1px rgba(255, 255, 255, 0.1);

         >a {
             display: block;
             color: #FFFFFF;
             font-weight: 500;
             height: 50px;
             line-height: 50px;
             font-size: 14px;
             text-transform: uppercase;
             -webkit-transition: all 200ms ease;
             -moz-transition: all 200ms ease;
             -ms-transition: all 200ms ease;
             -o-transition: all 200ms ease;
             transition: all 200ms ease;

             &:hover {
                 color: #b5aec4;
             }
         }

         a {
             i {
                 display: none;
                 margin-left: 8px;
             }
         }
     }

     .page_menu_item.has-children {
         >a {
             >i {
                 display: inline-block;
             }
         }
     }

     .page_menu_selection {
         margin: 0;
         width: 100%;
         height: 0px;
         overflow: hidden;
         z-index: 1;

         li {
             padding-left: 10px;
             padding-right: 10px;
             line-height: 50px;

             a {
                 display: block;
                 color: #FFFFFF;
                 border-bottom: solid 1px rgba(255, 255, 255, 0.1);
                 font-size: 14px;
                 text-transform: uppercase;
                 -webkit-transition: opacity 0.3s ease;
                 -moz-transition: opacity 0.3s ease;
                 -ms-transition: opacity 0.3s ease;
                 -o-transition: opacity 0.3s ease;
                 transition: all 0.3s ease;

                 &:hover {
                     color: #b5aec4;
                 }
             }

             &:last-child {
                 a {
                     border-bottom: none;
                 }
             }
         }
     }

     .menu_contact_item {
         display: inline-block;
         font-size: 12px;
         font-weight: 300;
         line-height: 56px;
         margin-right: 40px;
         color: #FFFFFF;

         &:not(:first-child) {
             margin-right: 0px;
         }

         a {
             font-size: 12px;
             font-weight: 300;
             line-height: 56px;
             color: #FFFFFF;
             -webkit-transition: all 200ms ease;
             -moz-transition: all 200ms ease;
             -ms-transition: all 200ms ease;
             -o-transition: all 200ms ease;
             transition: all 200ms ease;

             &:hover {
                 color: #8a8a8a;
             }
         }

         &:last-child {
             margin-right: 0px;
         }
     }

     .menu_contact_icon {
         display: inline-block;
         margin-right: 14px;
         -webkit-transform: translateY(-2px);
         -moz-transform: translateY(-2px);
         -ms-transform: translateY(-2px);
         -o-transform: translateY(-2px);
         transform: translateY(-2px);
     }


     @media only screen and (max-width: 1199px) {
         .main_nav_dropdown {
             li {
                 margin-right: 30px;

                 a {
                     font-size: 16px;
                 }
             }
         }
     }

     @media only screen and (max-width: 991px) {
         .header_search {
             height: 50px;
         }

         .custom_dropdown {
             text-align: left;
         }

         .main_nav {
             margin-top: 56px;
             display: none;
         }

         .main_nav_menu {
             display: none;
         }

         .logo_container {
             height: 125px;
         }

         .wishlist_cart {
             height: 125px;
         }

         .main_nav_content {
             background: #0e8ce4;
         }

         .menu_trigger_container {
             display: block;
         }

         .top_bar {
             height: 40px;
         }

         .top_bar_contact_item {
             font-size: 12px;
             margin-right: 20px;
             line-height: 40px;

             a {
                 font-size: 12px;
                 line-height: 40px;
             }
         }

         .top_bar_icon {
             margin-right: 4px;

             img {
                 width: 70%;
             }
         }

         .top_bar_menu {
             display: none;
         }

         .top_bar_user {
             a {
                 font-size: 12px;
                 line-height: 40px;
             }
         }

         .user_icon {
             -webkit-transform: translateY(-1px);
             -moz-transform: translateY(-1px);
             -ms-transform: translateY(-1px);
             -o-transform: translateY(-1px);
             transform: translateY(-1px);
             width: 12px;
         }
     }

     @media only screen and (max-width: 767px) {
         .header_search {
             display: none;
         }

         .page_menu_search {
             display: block;
         }

         .main_nav {
             margin-top: 0px;
         }
     }

     @media only screen and (max-width: 575px) {
         h2 {
             font-size: 24px;
         }

         p {
             font-size: 13px;
         }

         .top_bar {
             display: none;
         }

         .logo_container {
             height: 72px;
         }

         .wishlist_cart {
             height: 72px;
         }

         .logo {
             a {
                 font-size: 24px;
             }
         }

         .cat_burger {
             width: 16px;
             height: 12px;

             span {
                 &:nth-child(2) {
                     top: 5px;
                 }

                 &:nth-child(3) {
                     top: 10px;
                 }
             }
         }

         .menu_trigger_text {
             font-size: 13px;
             margin-right: 10px;
         }

         .wishlist {
             margin-right: 23px;
         }

         .wishlist_content {
             margin-left: 6px;
         }

         .wishlist_text {
             display: none;

             a {
                 font-size: 14px;
             }
         }

         .cart_text {
             display: none;

             a {
                 font-size: 14px;
             }
         }

         .wishlist_count {
             font-size: 12px;
         }

         .cart_price {
             font-size: 12px;
         }

         .wishlist_icon {
             width: 20px;
         }

         .cart_content {
             margin-left: 18px;
         }

         .cart_icon {
             width: 17px;
         }

         .cart_count {
             width: 21px;
             height: 21px;

             span {
                 line-height: 21px;
             }
         }

         .top_bar_user {
             margin-left: 0px;
         }

         .header_search {
             display: none;
         }

         .main_nav {
             width: calc(100% + 30px);
             margin-left: -15px;
             margin-right: -15px;
             margin-top: 0px;
         }

         .main_nav_content {
             height: 35px;
         }

         .menu_trigger_container {
             padding-right: 15px;
         }

         .page_menu_item {
             >a {
                 font-size: 12px;
             }
         }

         .page_menu_selection {
             li {
                 a {
                     font-size: 12px;
                 }
             }
         }

         .button {
             height: 32px;

             a {
                 font-size: 12px;
                 line-height: 32px;
                 padding-left: 25px;
                 padding-right: 25px;
             }
         }
     }

     header {
         //position: absolute;
         top: 0px;
         left: 0px;
         width: 100%;
         padding: 0px 0px;

         .logo {
             img {
                 width: 40%;
                 margin: 5px 0;
             }
         }

         .menu {
             @media (max-width: 992px) {
                 position: static;
             }

             .navbar {
                 @media (max-width: 992px) {
                     position: static;
                     justify-content: flex-end;
                 }

                 .navbar-toggler {
                     outline: 0px;
                     border: 0px;
                     box-shadow: none;

                     &:not(.collapsed) .line:nth-child(2) {
                         opacity: 0;
                     }

                     &:not(.collapsed) .line:nth-child(1) {
                         transform: translateY(11px) rotate(45deg);
                     }

                     &:not(.collapsed) .line:nth-child(3) {
                         transform: translateY(-11px) rotate(-45deg);
                     }

                     .line {
                         width: 40px;
                         height: 3px;
                         background-color: $green;
                         display: block;
                         margin: 8px auto;
                         -webkit-transition: all 0.3s ease-in-out;
                         -o-transition: all 0.3s ease-in-out;
                         transition: all 0.3s ease-in-out;
                     }


                 }

                 #main-nav {

                     @media (max-width: 992px) {
                         position: absolute;
                         left: 1%;
                         top: 80px;
                         width: 98%;
                         z-index: 999;
                         background: $white;
                         box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
                         padding: 20px;
                     }


                     .navbar-nav {
                         .nav-link {
                             color: $txt-grey;
                             padding: 10px 17px;

                             &:hover {
                                 color: $green;
                             }
                         }
                     }
                 }

             }


         }

         .right-menu {
             .dropdown {
                 margin-right: 15px;

                 button {
                     background-color: $trans;
                     border: 0px;
                     outline: 0px;

                     &:after {
                         display: none;
                     }
                 }
             }

             a {
                 margin-right: 15px;
             }
         }
     }


 }

 .banner {
     padding: 150px 0px;
     perspective: 30px;
     text-align: center;

     @media (max-width: 992px) {
         padding: 60px 0px;
     }

     .banner-captions {
         @media (max-width: 992px) {
             text-align: center;

         }

         h1 {
             color: $white;
             position: relative;
             margin-bottom: 30px;
             text-shadow: 1px 1px 1px #000;
             margin-bottom: 0;
             line-height: 0;

             @media (max-width: 992px) {
                 font-size: 20px;
                 line-height: 23px;

             }

             &:after {
                 content: '';
                 display: block;
                 width: 24px;
                 height: 4px;
                 background: #58C19C;
                 margin-bottom: 30px;

                 @media (max-width: 992px) {
                     margin-left: auto;
                     margin-right: auto;
                 }
             }
         }

         p {
             font-size: 18px;
             line-height: 28px;
             color: $white;
             margin-bottom: 30px;
             text-shadow: 1px 1px 1px #000;

             @media (max-width: 992px) {
                 font-size: 14px;
                 line-height: 20px;
                 margin-left: auto;
                 margin-right: auto;
             }
         }

         a {
             padding: 8px 30px;
             border-radius: 30px;
         }
     }

 }

 section.box-news {
     position: relative;

     @media (max-width: 992px) {
         margin-top: 0px;
     }

     .newsbox {

         background: $white;
         border-radius: 22px;
         padding: 60px 40px;
         box-shadow: 0px 15px 30px #0000001a;





         .news-icon {
             padding-bottom: 30px;

             img {
                 width: 40px;
             }

             span {
                 background: $dark-blue;
             }
         }

         h2 {
             font-family: 'Roboto', sans-serif;
             font-size: 22px;
             color: $txt-grey;

         }

         p {
             color: $text-light-gray;
         }

         a {
             color: $txt-grey;
         }
     }
 }

 .welcome {
     padding: 0 0 80px;

     ul {
         padding: 0px;
         margin: 0;

         li {
             list-style: none;
             line-height: 30px;

             img {
                 margin-right: 12px;
             }

             a {
                 color: $txt-grey;
             }
         }
     }

     h3 {
         font-family: 'Roboto',
             sans-serif;
         font-size: 40px;
         font-weight: 400 !important;
         color: $txt-grey;
     }
 }

 a.btn.btn-primary {
     background: #217fff;
     color: #fff;
     padding: 10px 40px;
     border: 0;
 }

 .video {
     background: $white;

     iframe.embed-responsive-item {
         width: 100%;
     }

     h5 {
         font-family: 'Roboto',
             sans-serif;
         font-size: 20px;
         font-weight: 400 !important;
         color: $dark-blue;
         margin-bottom: 0 !important;
         padding-bottom: 0 !important;
     }

     .card {
         border-radius: 0;
         border: 0;
     }

     .card-block {
         border-radius: 0;
         border: 1px solid #ccc;
     }

     .card-body {
         padding: 20px 0px;
         border-radius: 0;

     }

     p {
         color: $white;
     }

     a {
         color: $white;
     }



 }

 //ASIDE STRETCH
 .aside-stretch {
     background: rgba($primary, 1);

     &:after {
         position: absolute;
         top: 0;
         right: 100%;
         bottom: 0;
         content: '';
         width: 360%;
         background: rgba($primary, 1);
     }


 }

 .aside-stretch-right {
     background: rgba($primary, 1);

     &:after {
         position: absolute;
         top: 0;
         left: 100%;
         bottom: 0;
         content: '';
         width: 360%;
         background: rgba($primary, 1);
     }


 }


 .ftco-section {
     padding: 12em 0;

     h2 {
         margin-bottom: 0;
     }
 }

 footer {
     padding: 20px 0;
 }

 //FOOTER 06
 .footer-06 {
     padding-top: 0 !important;
     background: #04091e;
     position: relative;
     overflow: hidden;
     z-index: 0;




     .footer-heading {
         font-size: 20px;
         color: $white;
         margin-bottom: 20px;

         .logo {
             color: $white;
         }

         img {
             filter: brightness(0) invert(1);


         }
     }

     p {
         color: $white;
     }

     a {
         color: $white;
     }
 }

 .newsbox span {
     background: #ccc;
     border-radius: 3px;
     padding: 2px 12px;
     font-size: 10px;
 }

 .newsbox h4 {
     font-weight: 600;
 }

 .newsbox small {
     font-size: 16px;
     font-weight: 300 !important;
 }

 .newsbox {
     box-shadow: 0px 3px 7px #0000001f;
     padding: 18px;
 }

 .newsbox p {
     font-size: 13px;
     padding: 20px 0 0;
     margin-bottom: 5px;
 }

 .gallery {
     margin-top: 30px;
 }