	<footer class="footer-06">
		<div class="container">

			<div class="row pt-4 text-center">
				<div class="col-md-3 col-lg-12 ">
					<div class="row justify-content-end">
						<div class="col-md-12 col-lg-12 text-md-right mb-md-0 mb-4">
							<h2 class="footer-heading"><a href="#" class="logo"><img src="img/logo.png"></a></h2>
							<p class="copyright">
								Copyright © 2020, All rights reserved. Made with by 2Basetechnologies
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</footer>

	<script src="./js/all.js"></script>

	</body>

	</html>