  <partial src="header.html"></partial>

  <section class="banner" id="banner" style="background-image: url('img/banner.jpg'); background-repeat: no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 order-last order-md-first banner-captions text-center">
          <h1>Lorem ipsum dolor sit amet consectetur </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consecteturLorem
          </p>

        </div>

      </div>
    </div>
  </section>
  </section>

  <section class="news-tech">
    <div class="container px-4 py-5" id="news">
      <div class="d-flex heading-news justify-content-between">
        <h4>Latest Sell & Buy items</h4>
        <a href="#" class="btn btn-primary">View All</a>

      </div>
      <div class="row g-4 py-5 row-cols-1 row-cols-sm-2 row-cols-lg-4">
        <div class="news col mb-2  mb-lg-0">
          <div class="newsbox">
            <div class="news-icon">
              <img src="img/news1.jpg">
            </div>
            <p>Move Quickly With High Load Trailer</p>
            <span>Real Estate</span>
            <h4>500 <small>QAR</small>
            </h4>
          </div>
        </div>
        <div class="news col">
          <div class="newsbox">
            <div class="news-icon">
              <img src="img/news2.jpg">
            </div>
            <p>Move Quickly With High Load Trailer</p>
            <span>Real Estate</span>
            <h4>500 <small>QAR</small>
            </h4>

          </div>
        </div>
        <div class="news col">
          <div class="newsbox">
            <div class="news-icon">
              <img src="img/news3.jpg">
            </div>
            <p>Move Quickly With High Load Trailer</p>
            <span>Real Estate</span>
            <h4>500 <small>QAR</small>
            </h4>

          </div>
        </div>
        <div class="news col">
          <div class="newsbox">
            <div class="news-icon">
              <img src="img/news4.jpg">
            </div>
            <p>Move Quickly With High Load Trailer</p>
            <span>Real Estate</span>
            <h4>500<small>QAR</small>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="video">

    <div class="container">
      <div class="row">
        <div class="d-flex heading-news justify-content-between">
          <h4>Our Gallery</h4>
          <a href="#" class="btn btn-primary">View All</a>

        </div>
        <div class="row gallery">
          <div class="col-md-3 mb-4">
            <div class="card">
              <div class="card-block p-3">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg"
                    allowfullscreen></iframe>
                </div>
                <h5 class="text-center font-up font-bold indigo-text py-2 mb-3"> My Skills </h5>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-4">
            <div class="card">
              <div class="card-block p-3">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/137857207"
                    allowfullscreen></iframe>
                </div>
                <h5 class="text-center font-up font-bold indigo-text py-2 mb-3"> My Skills </h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <div class="card-block p-3">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg"
                    allowfullscreen></iframe>
                </div>
                <h5 class="text-center font-up font-bold indigo-text py-2 mb-3"> My Skills </h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <div class="card-block p-3">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/137857207"
                    allowfullscreen></iframe>
                </div>
                <h5 class="text-center font-up font-bold indigo-text py-2 mb-3"> My Skills </h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>


  <partial src="footer.html"></partial>